:root {
    --blue: #122D4A;
    --orange: #FFA366;
}

body {
    color: var(--orange);
    background-color: var(--blue);
}

a:link {
    color: var(--orange);
    text-decoration: underline dotted;
}

a:visited {
    color: var(--orange);
    text-decoration: underline dotted;
}

a:hover {
    color: white;
}